@model RiverSalaMVC.Usuario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Usuario</h2>

<h3>¿Estás seguro de eliminar al usuario?</h3>
<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">Nombre:&nbsp;<b>
        @Html.DisplayFor(model => model.Nombre)</b>
    </div>
    <br />
    <div class="display-label">Apellidos::&nbsp;<b>
        @Html.DisplayFor(model => model.Apellidos)</b>
    </div>
    <br />
    <div class="display-label">¿Es Jugador?&nbsp;
        @Html.Partial("BoolRender" , Model.EsJugador)
    </div>
    <br />
    <div class="display-label">Posición&nbsp;<b>
        @Html.DisplayFor(model => model.Posicion)</b>
    </div>
    <br />
    <div class="display-label">¿Está en activo?&nbsp;
        @Html.Partial("BoolRender", Model.Activo)
    </div>
    <br />
    <div class="display-label">Email:&nbsp;
        @Html.DisplayFor(model => model.Email)
    </div>
    <br />
    <div class="display-label">¿Está validado?&nbsp;
        @Html.Partial("BoolRender", Model.Validado)
    </div>
    <br />
    <div class="display-label">¿Es administrador?&nbsp;
        @Html.Partial("BoolRender", Model.IsAdmin)
    </div>
    <br />
    <div class="display-label">Número:&nbsp;
        @Html.DisplayFor(model => model.Numero)
    </div>
    <br />
    <div class="display-label">¿Puede publicar noticias?&nbsp;
        @Html.Partial("BoolRender", Model.PublicarNoticias)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar Usuario" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
