@model IEnumerable<RiverSalaMVC.Usuario>
@{
    ViewBag.Title = "Index";
}
<table id="tablaAdmin" class="tablesorter">
    <thead>
        <tr>
            <th width="60px">
                Nombre
            </th>
            <th width="80px">
                Apellidos
            </th>
            <th width="60px">
                Posicion
            </th>
            <th width="25px">
                ¿Jugador?
            </th>
            <th width="25px">
                Activo
            </th>
            <th width="25px">
                Validado
            </th>
            <th width="25px">
                Admin
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posicion)
            </td>
            <td align="center">
                @Html.Partial("BoolRender", item.EsJugador)
            </td>
            <td align="center">
                @Html.Partial("BoolRender", item.Activo)
            </td>
            <td align="center">
                @Html.Partial("BoolRender", item.Validado)
            </td>
            <td align="center">
                @Html.Partial("BoolRender", item.IsAdmin)
            </td>
        </tr>
    }
</table>
