@model IEnumerable<RiverSalaMVC.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellidos
        </th>
        <th>
            EsJugador
        </th>
        <th>
            Posicion
        </th>
        <th>
            Activo
        </th>
        <th>
            Email
        </th>
        <th>
            Validado
        </th>
        <th>
            IsAdmin
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.Partial("BoolRender", item.EsJugador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Posicion)
        </td>
        <td>
            @Html.Partial("BoolRender", item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.Partial("BoolRender", item.Validado)
        </td>
        <td>
            @Html.Partial("BoolRender", item.IsAdmin)
        </td>
    </tr>
}

</table>
