@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="clubmenu" align="center">
    <h3>
        @Html.ActionLink("Ficha Técnica", "Index") | @Html.ActionLink("Jugadores", "Jugadores")
        | @Html.ActionLink("Organigrama", "Organigrama") | @Html.ActionLink("Plantillas", "Plantillas")
    </h3>
</div>
<div align="center">
    <h2>
        Estatutos del Atlético River Sala Zaragoza C.D.E.</h2>
    <br />
</div>
<div>
    <p style="text-align: justify; padding: 0px 10px 0px 0px;">
        <br />
        <h3>
            Título Preliminar:</h3>
        <b>Artículo 1º:</b> La denominación del Club será la de Atlético River Sala Zaragoza.<br />
        <br />
        <b>Artículo 2º:</b> El Atlético River Sala Zaragoza se constituye como un Club Deportivo
        Elemental, en el cual se dedicara a la práctica deportiva del Futbol Sala bien sea
        de forma profesional o aficionada, no renunciando a poder ampliar en el futuro la
        dedicación a otros deportes tras comunicarlo al Gobierno de Aragón.<br />
        <br />
        <b>Artículo 3º:</b> El domicilio social estará fijado en la Calle Doña Blanca de
        Navarra nº12, 4º Izquierda, Código Postal 50010.<br />
        <br />
        <b>Artículo 4º:</b> Se excluye como fin del Club el ánimo de lucro, no pudiéndose
        destinar sus bienes a fines industriales o servicios, ni ejercer actividades de
        igual carácter con destino al reparto de beneficios entre sus asociados. Si bien
        el Club puede destinar parte de su presupuesto a profesionalizar su estructura o
        personal que trabaje en el (directivos, técnicos, deportistas, etc.).<br />
        <br />
        <b>Artículo 5º:</b> Todos los miembros del club deberán respetar y cumplir estos
        Estatutos.
        <br />
        <br />
        <h3>Título Primero: Órganos de Gobierno y Representación del Club.</h3>
        <br />
        <b>Artículo 6º:</b> El Club tendrá como Órganos de Gobierno y Representación, la
        Asamblea General, la Comisión Ejecutiva y las Comisiones Sectoriales.
        <br />
        <br />
        <b>Artículo 7º:</b> La Asamblea General, la constituyen todos los socios del club.
        Estará presidida por el Presidente del Club y la Comisión Ejecutiva.<br />
        <br />
        La Asamblea General se reunirá de forma ordinaria una vez al año para debatir y
        aprobar o denegar según decidan por votación directa los socios los presupuestos
        del club, antes de comenzar la temporada a la que afectan esos presupuestos. Así
        como para dar cuenta de su gestión durante la temporada.
        <br />
        <br />
        Se reunirá de forma ordinaria cada cinco años para elegir al Presidente del Club,
        de la forma en que se marcan los Estatutos.<br />
        <br />
        De forma extraordinaria cuando así la convoque la Comisión Ejecutiva para los temas
        que este estime oportuno o para los casos de Reforma de Estatutos, Disolución del
        Club o Moción de Censura.
        <br />
        <br />
        Para que la reunión de la Asamblea General de Socios se pueda celebrar y los acuerdos
        o votaciones realizadas en ella sean validas, deberán de asistir bien en primera
        convocatoria por lo menos el 80% de los socios censados o en segunda convocatoria
        50%, si en segunda convocatoria no hubiera ese quórum la Asamblea quedara suspendida
        y será la Comisión Ejecutiva quien decida sobre los temas que se llevaban en el
        orden del día, en su siguiente reunión.<br />
        <br />
        <b>Artículo 8º:</b> La Comisión Ejecutiva, es el máximo órgano de gobierno y representación
        del Club, entre Asambleas Generales.
        <br />
        <br />
        La Comisión Ejecutiva la formarán de forma obligatoria un Presidente/a y un Secretario/a
        General, y de forma opcional uno o varios Vicepresidentes/as y Consejeros/as. No
        pudiendo exceder esta de un número de 12 miembros.
        <br />
        <br />
        Si existiesen Comisiones Sectoriales tendían que formar parte de la misma los Coordinadores
        de dichas Comisiones con rango de Consejeros, salvo que el Presidente les quisiera
        otorgar un rango superior.
        <br />
        <br />
        La Comisión Ejecutiva se reunirá con una periodizad como mínimo de una vez cada
        tres meses de forma ordinaría, y de forma extraordinaria cuando así lo estime oportuno
        su Presidente/a, o para los casos de Reforma de Estatutos, Disolución del Club o
        Moción de Censura, según marcan los estatutos. Para que las reuniones de la Comisión
        Ejecutiva se pueda celebrar y los acuerdos o votaciones realizadas en ella sean
        validas, deberán de asistir por lo menos la mitad de sus miembros y entre ellos
        deberá de estar siempre el Presidente/a y el Secretario/a General.<br />
        <br />
        La Comisión Ejecutiva tendrá un mandato de cinco años o hasta cuando cese su Presidente/a
        por cualquiera de las causas que marcan los Estatutos.
        <br />
        <br />
        <br />
        Sus funciones serán las siguientes:
        <br />
        <br />
        - Autorizar las enajenaciones de cualesquiera bienes que hayan sido adquiridos para
        la utilización de los miembros del club.<br />
        - Autorizar actuaciones judiciales.<br />
        - Autorizar la separación o destitución de algún miembro del club, salvo aquellos
        sobre los que solo tiene potestad el Presidente/a.<br />
        - Aprobar las modificaciones estructúrales y organizativas del club.<br />
        - Resolver sobre la extinción o disolución en última instancia del Club.
        <br />
        - Aprobar y aplicar las normas estatutarias y de carácter disciplinario.
        <br />
        - Elaborar en cualquier caso los presupuestos y aprobarlos en los casos que marcan
        los estatutos.
        <br />
        <br />
        <b>Artículo 9º:</b> El Presidente/a. Elección, Funciones y Cese.<br />
        <br />
        El Presidente/a será elegido por los socios de la forma en que marcan los Estatutos.
        Y sus funciones serán:<br />
        <br />
        - Presidir, moderar, convocar y finalizar las reuniones de la Asamblea General y
        la Comisión Ejecutiva.<br />
        - Representar legalmente y honoríficamente ante las instituciones u organismos públicos
        y privados al Club. Así como ante la Federación o demás clubes con los que se relacione
        el Club.<br />
        - Convocar Elecciones a la Presidencia del Club.<br />
        - Nombrar y separar libremente a los miembros de la Comisión Ejecutiva.<br />
        - Firmar cartas y comunicaciones a los Socios. Así como documentos, actas, convenios,
        autorizaciones o aceptaciones que sean necesarias para la administración del club.
        <br />
        - Dirigir la Administración, la tesorería y el área deportiva del Club.<br />
        - Tendrá voto de calidad en la Comisión Ejecutiva, en los casos de empate en las
        votaciones, de la misma manera también lo tendrá en las Asambleas Generales.
        <br />
        - Firmara las altas y bajas de los deportistas, técnicos y demás miembros del Club.<br />
        <br />
        <br />
        El Presidente/a cesara de su cargo en los siguientes supuestos:
        <br />
        - Terminar el mandato de cinco años de la Comisión Ejecutiva.<br />
        - Si perdiese alguno de los requisitos para ser elegible Presidente/a.<br />
        - Cuando sea cesado a través de una moción de censura.<br />
        <br />
        <b>Artículo 10º:</b> El Secretario/a General. Elección, Funciones y Cese.<br />
        <br />
        El Secretario/a General será nombrado por el Presidente/a. Y sus Funciones serán:
        <br />
        <br />
        - Firmar cartas y comunicaciones a los Socios. Así como documentos, actas, convenios,
        autorizaciones o aceptaciones que sean necesarias para la administración del club.
        <br />
        - Dirigir la Administración, la tesorería del Club.
        <br />
        - Firmara las altas y bajas de los deportistas, técnicos y demás miembros del Club.<br />
        - Hará las funciones de Vicepresidente/a cuando este no exista.<br />
        - Coordinar la Secretaría General.<br />
        <br />
        El Secretario/a General cesara de su cargo en los siguientes supuestos:
        <br />
        <br />
        - Terminar el mandato de cinco años de la Comisión Ejecutiva.<br />
        - Si perdiese alguno de los requisitos para ser elegible.<br />
        - Cuando sea cesado por el Presidente/a.<br />
        - Cuando el Presidente/a sea cesado por una moción de censura.<br />
        <br />
        <b>Artículo 11º:</b> El Vicepresidente/a, y los Consejeros/as. Elección, Funciones
        y Cese.<br />
        <br />
        El Vicepresidente/a, será nombrado por el Presidente/a y sus funciones será la de
        sustituir de forma temporal al Presidente/a cuando esté ausente por enfermedad o
        por otros compromisos del Club. Así como asumir la dirección de las áreas o comisiones
        que le encargue el Presidente.<br />
        Los Consejeros/as, serán nombrados por el Presidente/a y sus funciones básicas serán
        las de participar en las reuniones de la Comisión Ejecutiva con voz y voto. De entre
        los Consejeros el Presidente podrá nombrar Consejeros Delegados que a las funciones
        anteriormente nombradas unirán las de coordinar las Áreas o Comisiones que este
        les designe.
        <br />
        El Cese de los Vicepresidentes/as y de los Consejeros/as se darán:
        <br />
        - Terminar el mandato de cinco años de la Comisión Ejecutiva.<br />
        - Si perdiese alguno de los requisitos para ser elegible.<br />
        - Cuando sea cesado por el Presidente/a.<br />
        - Cuando el Presidente/a sea cesado por una moción de censura.<br />
        <br />
        <b>Artículo 12º:</b> Las Comisiones Sectoriales se constituirán cuando en el club
        se realicen distintas prácticas deportivas y habrá tantas como prácticas deportivas.
        Serán miembros de las mismas un Coordinador, un Secretario y tres vocales.
        <br />
        Las funciones de las Comisiones Sectoriales cuya denominación será Comisión de…
        (Práctica deportiva), ayudar a la Comisión Ejecutiva a la dirección de ese deporte,
        aunque para que sus decisiones sean validas tendrán que ser refrendadas por la Comisión
        Ejecutiva. Las reuniones de las Comisiones se harán constar las actas que irán firmadas
        por el Coordinador y el Secretario de dicha Comisión.
        <br />
        Coordinador: Será nombrado directamente por el Presidente del Club, y pasara a formar
        parte de la Comisión Ejecutiva con rango de Consejero, salvo que el Presidente le
        otorgue un rango superior. Es el encargado de dirigir las sesiones de la Comisión
        así como la de ser el portavoz en la Comisión Sectorial de la Comisión Ejecutiva
        y viceversa.
        <br />
        Secretario: Será nombrado directamente por el Presidente del Club, a propuesta del
        Coordinador de la Comisión. No formara parte de la Comisión Ejecutiva, y sus funciones
        serán las de auxiliar al Coordinador y levantar acta de todos los temas que en ella
        se hablen.
        <br />
        Vocales: Serán nombrados por el Presidente del Club, a propuesta del Coordinador
        de la Comisión, de entre técnicos, deportistas o tutores legales de los deportistas
        si estos son menores de edad, de la práctica deportiva de esa Comisión Sectorial.
        <br />
        <br />
        Para ser Coordinador y Secretario de Comisión hace falta ser socio y cumplir los
        mismos requisitos que para ser Presidente del Club.<br />
        <br />
        <h3>Título Segundo: Elecciones a la Presidencia del Club.</h3>
        <br />
        <b>Artículo 13º:</b> Las elecciones serán convocadas por el Presidente/a bien por
        expiración del mandato de cinco años o por decisión propia del mismo antes de cumplir
        el mismo.<br />
        <br />
        <b>Artículo 14º:</b> Para poder ser candidato a la Presidencia del Club se deben
        cumplir los siguientes requisitos:
        <br />
        <br />
        - Ser Socio o Socio Fundador.<br />
        - Tener mayoría de edad.<br />
        - No estar inhabilitado para cargo público.<br />
        - Tener capacidad de obrar.<br />
        - No estar sujeto a inhabilitación deportiva.<br />
        - No tener ningún cargo de responsabilidad en otro Club Deportivo Elemental, que
        se dedique a las actividades deportivas que se desarrollen en el Atlético River
        Sala Zaragoza.<br />
        - A partir del tercer año desde la fundación del club, tener más de tres años de
        antigüedad como socio.
        <br />
        Para poder formar parte de la Comisión Ejecutiva también se tendrá que cumplir estos
        requisitos.
        <br />
        <br />
        <b>Artículo 15º:</b> Para poder participar en unas elecciones como elector se deberá
        cumplir los siguientes requisitos:
        <br />
        <br />
        - Ser Socio o Socio Fundador.<br />
        - Tener mayoría de edad.<br />
        - Tener capacidad de obrar.<br />
        <br />
        <b>Artículo 16º:</b> El Proceso electoral será el siguiente.<br />
        <br />
        El Presidente convocara elecciones a la Presidencia del Club y disolverá la Comisión
        Ejecutiva y las Comisiones Sectoriales si estas existiesen, en una Asamblea General
        convocada para tal efecto pasando a regir el Club una Junta Gestora que velara por
        el proceso electoral y por la gestión del Club.
        <br />
        <br />
        La Junta Gestora estará formada por un Presidente, un Vicepresidente 1º, un Vicepresidente
        2º y un Secretario General. De los cuales tres serán elegidos en dicha Asamblea
        General mediante votación de los socios de entre los que cumplan los requisitos
        para poder ser Presidente, y que no sean candidatos a la Presidencia del Club. Pudiendo
        ser uno de ellos el mismo Presidente si no se presenta a la reelección. El cuarto
        miembro será el Secretario General de la Comisión Ejecutiva disuelta, que realizara
        la función de Secretario General de la Junta Gestora. Si el Secretario General de
        la Comisión Ejecutiva disuelta fuera candidato a la Presidencia del Club, el nuevo
        Secretario General de la Junta Gestora será elegido por la Asamblea General, de
        la misma forma que los tres anteriores.<br />
        <br />
        Una vez constituida esta Junta Gestora se abrirá un plazo de una semana para que
        se presenten candidaturas. Una vez pasada esta semana en 24 horas se deben abrir
        uno de estos procesos:<br />
        <br />
        - Primero: no se presenta ninguna candidatura la Junta Gestora nombrara Presidente
        al Presidente saliente.<br />
        - Segundo: solo se presenta una candidatura la Junta Gestora nombra Presidente al
        único candidato presentado.<br />
        - Tercero: se presentan al menos dos candidaturas, se inicia una campaña electoral
        que durara dos semanas y que desembocara en unas elecciones, que se harán de la
        siguiente forma:
        <br />
        Se convocara la Asamblea General, y la Junta Gestora presidirá una reunión extraordinaria
        donde se votara por parte de los socios con derecho a voto, de forma secreta y libre,
        las candidaturas existentes. Cuando todos los miembros de la Asamblea hayan votado
        se recontara los votos y el candidato con más votos tomara posesión de la Presidencia
        en esa misma reunión extraordinaria.
        <br />
        <b>Artículo 17º:</b> El Presidente electo nombrara en esa Asamblea General su Comisión
        Ejecutiva, y desde ese mismo momento la Junta Gestora queda disuelta.<br />
        <br />
        <br />
        <h3>Título Tercero: Regulación del Área Social</h3>
        <br />
        <b>Artículo 18º:</b> El Área Social del Club está formada por los Socios de Honor,
        los Socios Fundadores, los Socios y los Abonados.
        <br />
        <b>Artículo 19º:</b> Los Socios de Honor, son aquellas personalidades o entidades
        que según la Comisión Ejecutiva se merecen tal distinción por parte del Club. Pueden
        asistir a las actividades, manifestaciones o competiciones que el club organice
        o participe.
        <br />
        <br />
        <b>Artículo 20º:</b> Los Socios Fundadores, son aquellas personas que fundaron el
        club, estos tendrán los derechos y obligaciones de cualquier socio, pudiendo quedar
        exentos de pagar cuota alguna al club, si así lo decide la Asamblea General.
        <br />
        <br />
        <b>Artículo 21º:</b> Los Socios, del club tienen los siguientes derechos y obligaciones:
        <br />
        <br />
        - Derechos:
        <br />
        a) Ser informado de las actividades del club, y concretamente, de la gestión, administración
        y contabilidad del mismo.<br />
        b) Asistir a las actividades, manifestaciones, y o competiciones organizadas por
        el club o en las que este participe.<br />
        c) Participar en la vida democrática del club, en la forma en la que marcan los
        Estatutos.<br />
        - Obligaciones:<br />
        a) Costear los gastos del club en la forma en que se hubiere comprometido.<br />
        b) Colaborar en la gestión y administración del club si fuesen designados para ello.<br />
        c) Respetar y cumplir los Estatutos del Club.<br />
        <br />
        <b>Artículo 22º:</b> Los abonados, son socios que tienen las mismas obligaciones
        y derechos que el resto de los socios, pero no podrán participar en las elecciones
        ni como candidatos ni como electores.
        <br />
        <br />
        <b>Artículo 23º:</b> Admisión de Socios.<br />
        <br />
        Para ser socio se tendrá que presentar una petición de admisión ante la Secretaría
        General que la elevara a la Comisión Ejecutiva y esta tendrá que resolver sobre
        su admisión. Otra forma es presentar esa misma petición de admisión ante la Secretaría
        General que lo comunicara a la Comisión Ejecutiva pero con el aval de las firmas
        de la totalidad de los socios fundadores con lo cual pasan a ser socio directamente.
        <br />
        <br />
        Para ser abonado no hay ningún problema, simplemente presentando una solicitud de
        admisión como abonado ante la Secretaría General se pasa directamente a tener esa
        condición.
        <br />
        <br />
        <b>Artículo 24º:</b> Si un socio incumple con sus obligaciones podrá ser expulsado
        por la Comisión Ejecutiva y no podrá volver a solicitar su admisión como socio en
        un periodo minino de cinco años.
        <br />
        <br />
        <br />
        <h3>Título Cuarto: De los Técnicos y los Deportistas.</h3>
        <br />
        <b>Artículo 25º:</b> Los técnicos son personas físicas que, dentro de las condiciones
        establecidas por las federaciones respectivas, ejercen funciones de dirección y
        entrenamiento de los deportistas practicantes en los correspondientes equipos del
        Club. Son incorporados, y cesados por el Presidente con la aprobación de la Comisión
        Ejecutiva.
        <br />
        <br />
        <b>Artículo 26º:</b> Los técnicos, en cuanto a sus derechos y deberes, re rigen
        por las convenciones específicas que, en el marco de las normas legales reglamentarias
        y estatutarias, suscriban con la Comisión Ejecutiva.
        <br />
        <br />
        <b>Artículo 27º:</b> Los deportistas practicantes son personas físicas que se incorporan
        al Club mediante decisión del Presidente con aprobación de la Comisión Ejecutiva
        y a petición de los técnicos del mismo, para desarrollar la práctica deportiva que
        corresponda.
        <br />
        <br />
        <b>Artículo 28º:</b> Los deportistas del club tienen derecho a desempeñar su actividad
        deportiva en el marco de las reglamentaciones que rigen en la actividad deportiva
        que corresponda. Además podrán elegir ellos directamente y de forma democrática
        a su Capitán o capitanes.
        <br />
        <br />
        <b>Artículo 29º:</b> Tanto los técnicos como los deportistas tendrán la obligación
        de respeto jerárquico a los Técnicos y Directivos del Club, según corresponda en
        cada caso, así como el máximo respeto a los socios, a los Estatutos y normas del
        Club.
        <br />
        <br />
        <br />
        <h3>Título Quinto: Régimen Interior.</h3>
        <br />
        <b>Artículo 30º:</b> El Club tendrá un Libro de Cuentas en las que se llevara cuenta
        de los ingresos y gastos del mismo, su tutor y responsable será el Secretario/a
        General.<br />
        <br />
        <b>Artículo 31º:</b> El Club tendrá un Libro de Actas, en el que se recogerán cronológicamente
        las reuniones de la Asamblea General y la Comisión Ejecutiva y las decisiones que
        se adopten en dichos órganos, irán firmadas por el Presidente/a y el Secretario/a
        General, el cual será responsable del mismo.
        <br />
        <br />
        <b>Artículo 32º:</b> El Club tendrá un Libro de Registro de Miembros del mismo,
        en los que se harán constar las altas y bajas y la condición de los mismos. De este
        libro el responsable será el Secretario/a General.<br />
        <br />
        <b>Artículo 33º:</b> Moción de Censura al Presidente.<br />
        <br />
        Para presentar una moción de censura se tendrán que seguir los siguientes pasos:
        <br />
        <br />
        - Por iniciativa de uno o varios socios del Club presentar ante la Secretaría General
        un documento firmado por el 60% de los socios censados, en el Libro de Registro
        de Miembros del Club.<br />
        - La Comisión Ejecutiva se reúne de urgencia para valorar el documento y si cumple
        los requisitos, convoca en el plazo máximo de quince días una Asamblea General,
        en la que se votara la Moción de Censura, para ser aprobada se necesitara ser votada
        afirmativamente por el 51% de los asistentes con derecho a voto.<br />
        - Si es aprobada la Moción de Censura se constituye la Junta Gestora, y se empieza
        el proceso electoral.<br />
        Durante el mandato de cinco años de un Presidente no se podrá presentar más de una
        moción de censura.
        <br />
        <br />
        <b>Artículo 34º:</b> Reforma de los Estatutos.<br />
        <br />
        Deberá de ser propuesta por la Comisión Ejecutiva, bien de forma directa porque
        así lo decida ella misma en una reunión extraordinaria, o de forma indirecta porque
        así se lo pidan los Socios Fundadores o por el 30% de los Socios del Club, mediante
        un documento firmado presentado a la Secretaría General, ante lo cual no se podrá
        negar a convocar el procedimiento de reforma de Estatutos.<br />
        <br />
        Este procedimiento consistirá en:
        <br />
        - Informar a los Socios de los cambios parciales o totales que se quieren hacer
        en los Estatutos, mediante Asamblea General Extraordinaria. Y someter a votación
        dichos cambios, para ser aprobados se necesitara ser votados afirmativamente por
        el 75% de los socios presentes.
        <br />
        - Una vez aprobados los cambios se redactaran y los firmaran el Presidente/a y el
        Secretario/a General.<br />
        <br />
        <b>Artículo 35º:</b> Sobre la imagen corporativa (Himno, Escudó, Equipaciones, etc.)
        tendrá potestad la Asamblea General.<br />
        <br />
        <b>Artículo 36º:</b> Disolución del Club.<br />
        <br />
        Deberá de ser propuesta por la Comisión Ejecutiva, bien de forma directa porque
        así lo decida ella misma en una reunión extraordinaria, o de forma indirecta porque
        así se lo pidan los Socios Fundadores o por el 30% de los Socios del Club, mediante
        un documento firmado, presentado a la Secretaría General, ante lo cual no se podrá
        negar a convocar el procedimiento de disolución del club.<br />
        <br />
        Este procedimiento consistirá en:
        <br />
        - Informar a los Socios de la propuesta de disolución del club, mediante Asamblea
        General Extraordinaria. Y someter a votación dicha disolución, para ser aprobada
        se necesitara ser votada afirmativamente por el 75% de los socios presentes.
        <br />
        - Una vez aprobada se redactara un documento que firmaran el Presidente/a y el Secretario/a
        General.<br />
        <br />
        <br />
        <h3>Título Sexto: Régimen Disciplinario.</h3>
        <br />
        <b>Artículo 37º:</b> Las infracciones cometidas por los miembros del Club serán
        sancionadas en primera instancia por los superiores jerárquicos.
        <br />
        - Deportistas por los Técnicos.<br />
        - Técnicos por Técnicos de rango superior si existiesen sino por la Junta de Disciplina.<br />
        - Miembros del área social y directivos, por la Junta de Disciplina.<br />
        En última instancia resolverá sobre las sanciones la Comisión Ejecutiva.<br />
        <br />
        <b>Artículo 38º:</b> La Junta de Disciplina, no es de obligatoria constitución,
        si no existiese sus funciones las desarrollara la Comisión Ejecutiva directamente.<br />
        <br />
        Si está constituida la formaran entre tres o cuatro miembros, nombrados por la Comisión
        Ejecutiva, estos se elegirán de entre los propios miembros de la Comisión Ejecutiva
        o por socios que no estén en el, pero cumplan los requisitos para ser candidatos
        a las elecciones a la Presidencia. La Junta de Disciplina tendrá un Coordinador
        que si tendrá que ser miembro de la Comisión Ejecutiva.
        <br />
        <br />
        Ante las sanciones de la Junta de Disciplina se podrá recurrir ante la Comisión
        Ejecutiva.<br />
        <br />
        <b>Artículo 39ª:</b> Contra las sanciones impuestas por la Comisión Ejecutiva solo
        se podrá recurrir según su naturaleza, ante la Federación Deportiva correspondiente
        o en vía Judicial.<br />
        <br />
        <br />
        <br />
        <h3>Título Séptimo: La Secretaría General.</h3>
        <br />
        <b>Artículo 40º:</b> La Secretaría General será un órgano que dependerá directamente
        y exclusivamente del Presidente, aunque estará dirigida y coordinada por el Secretario/a
        General del Club. Dicho órgano podrá ser individual si solo lo forma el Secretario/a
        General o colectivo si además de este lo forman otros miembros que serán denominados
        como Vocales de Secretaría General, que serán nombrados por el Presidente a propuesta
        del Secretario/a General.<br />
        <br />
        La Secretaría General será un órgano ejecutivo que servirá para ayudar al Secretario/a
        General a las labores que le atribuyen los Estatutos. Y como marcan estos será el
        departamento que recibirá todos los documentos que los socios dirijan a la Comisión
        Ejecutiva o al Presidente.
        <br />
        <br />
        <br />
        <h3>Título Octavo: Otros Asuntos Estatutarios.</h3>
        <br />
        <b>Artículo 41º:</b> La Comisión Ejecutiva podrá nombrar un Presidente de Honor,
        que será elegido de forma vitalicia. Para tener esta distinción los requisitos es
        haber sido un socio, deportista o técnico destacado del Club. Y sus funciones serán
        simplemente de representación institucional honorifica. Esta decisión de la Comisión
        Ejecutiva deberá ser ratificada por votación afirmativa de mayoría simple por la
        Asamblea General.<br />
        <br />
        <b>Artículo 42º:</b> El Presidente si lo estima oportuno podrá crear un Departamento
        de Presidencia, que solo dependerá de él y será un órgano externo a la Comisión
        Ejecutiva, que no tendrá ningún poder de gobierno pero si de asesoramiento y ejecución
        de órdenes del Presidente, este Departamento lo dirigirá un Coordinador y lo podrán
        formar un máximo de cuatro personas, sus miembros no tienen que ser socios del club.<br />
        <br />
        <b>Artículo 43º:</b> El Presidente si lo estima oportuno podrá crear una Comisión
        de Patrocinio y Finanzas, que dependerá de la Secretaría General y será un órgano
        externo a la Comisión Ejecutiva, al frente de la misma estará un Coordinador nombrado
        por el Presidente, el cual no tendrá porque ser socio del club, dicha Comisión estará
        integrada por un representante por cada entidad o empresa patrocinadora del Club,
        será un órgano donde el Club mediante el Presidente y el Coordinador dará cuenta
        a los patrocinadores del uso del dinero o bienes que estos proporcionen al club,
        y se pactaran actuaciones con las mismas.
        <br />
        <br />
        <b>Artículo 44º:</b> El Escudo Oficial del Atlético River Sala Zaragoza será:<br />
    </p>
    <img src="@Url.Content("/Content/images/sections/escudo_estatuto.jpg")" alt="Escudo Oficial del River Sala" title="Escudo Oficial del River Sala""/>
    </p>
</div>
