<h3>
@if (Request.IsAuthenticated)
{
    <h3>
        Hola @User.Identity.Name</h3>
}
else
{
    @: @Html.ActionLink("Registrate", "Register", "Account")  o @Html.ActionLink("Logueate", "LogOn", "Account")
}
</h3>
<div class="navlist">
    <ul>
        <li><a href="index.php?pag=archivo.php">Archivo de Noticias</a></li>
        <li>@Html.ActionLink("Enlaces de Interes", "Index", "Links", null, null)</li>
        @if (Request.IsAuthenticated)
        {
        
            <li>@Html.ActionLink("Publicar Noticia", "Create", "Noticia", null, null)</li>
            <li><a href="index.php?pag=listacorreo.php">Mensaje Masivo</a></li>
            <li>@Html.ActionLink("Salir", "LogOff", "Account")</li>
        }
    </ul>
</div>
