@{bool isAdmin = false;}
@if (Request.IsAuthenticated)
{
    String[] arrayIdentity = User.Identity.Name.Split(RiverSalaMVC.Utils.Constantes.IdentitySeparator.ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
    string email = arrayIdentity[0];
    string username = arrayIdentity[1];
    isAdmin = Convert.ToBoolean(arrayIdentity[2]);
    <h3>
        Hola @username!</h3>
}
else
{
    @:<h3>@Html.ActionLink("Registrate", "Register", "Account") o @Html.ActionLink("Logueate", "LogOn", "Account")</h3>
}
<div class="navlist">
    <ul>
        @if (Request.IsAuthenticated)
        {
            <li>@Html.ActionLink("Publicar Noticia", "Create", "Noticia", null, null)</li>
            <li>Mensaje Masivo</li>
            if (isAdmin)
            {
            <li>@Html.ActionLink("Administración", "Index", "Admin")</li>
            }
            <li>@Html.ActionLink("Salir", "LogOff", "Account")</li>
        }
    </ul>
</div>
