@model IEnumerable<RiverSalaMVC.Noticia>
@{
    ViewBag.Title = "Administracion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table id="tablaAdmin" class="tablesorter">
    <thead>
        <tr>
            <th width="50px">
            </th>
            <th>
                Titulo
            </th>
            <th width="45px">
                Autor
            </th>
            <th width="45px">
                Fecha
            </th>
            <th width="45px">
                ¿Privada?
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Partial("EditRender", Url.Action("Edit", new { id = item.ID}))
                @Html.Partial("DeleteRender", Url.Action("Delete", new { id = item.ID}))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td align="center">
                @Html.Partial("BoolRender", item.EsPrivada)
            </td>
        </tr>
    }
</table>
<div id="pager" class="tablesorterPager">
    <form>
    <img alt="Al principio" title="Al principio" src="@Url.Content("/Content/images/style/tablesorter/pager/first.png")" class="first" />
    <img alt="Anteriores 10" title="Anteriores 10" src="@Url.Content("/Content/images/style/tablesorter/pager/prev.png")" class="prev" />
    <input type="text" class="pagedisplay" />
    <img alt="Siguientes 10" title="Siguientes 10" src="@Url.Content("/Content/images/style/tablesorter/pager/next.png")" class="next" />
    <img alt="Al final" title="Al final" src="@Url.Content("/Content/images/style/tablesorter/pager/last.png")" class="last" />
    <select class="pagesize">
        <option selected="selected" value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
    </select>
    </form>
</div>
<br /><br />