@model IEnumerable<RiverSalaMVC.Models.NoticiaModel>
@foreach (var item in Model)
{
    <div style="text-align: left">
        <h2>
            @item.Titulo</h2>
    </div>
    <div class="noticia">
        <img alt="Noticia" class="noborder" src="Content/images/style/escudo.gif" title="escudo" />
        @Html.Raw(item.Contenido)</div>
    <p class="post">
        @Html.ActionLink("Editar Noticia", "Edit", "Noticia", new { id = @item.IdNoticia }, new { @class = "readmore" })
        @if (item.Comentarios > 0)
        {
            @Html.ActionLink("Hay " + item.Comentarios + " comentarios", "Comentarios", "Noticia", new { id = @item.IdNoticia }, new { @class = "comments" })
        }
        else
        {
            @Html.ActionLink("No hay comentarios", "Comentarios", "Noticia", new { id = @item.IdNoticia }, new { @class = "comments" })
        }
        <span class="date">Publicada el @item.Fecha.ToString("dd/MM/yyyy a la\\s HH:mm") por
            @Html.ActionLink(item.Autor, "Details", "Usuario", null, null)</span>
    </p>
}
<br />
<br />
<div style="text-align: center">
    @if (ViewBag.PagePrev != -1)
    {
        @Html.ActionLink("Anteriores", "Index", new { page = ViewBag.PagePrev })
    }
    @if ((ViewBag.PagePrev != -1) && (ViewBag.PageNext != -1))
    {
        @:&nbsp;|&nbsp;
            }
    @if (ViewBag.PageNext != -1)
    {
        @Html.ActionLink("Siguientes", "Index", new { page = ViewBag.PageNext })
    }
</div>
